:root {
    --gradient: linear-gradient(90deg, rgba(21, 19, 63, 1) 0%, rgba(57, 57, 136, 1) 43%, rgba(45, 101, 112, 1) 82%);
}

body {
    background-image: var(--gradient);
    background-size: 300%;
    animation: gradient-animation 5s infinite alternate;
}

@keyframes gradient-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.home-container {
    margin-top: 300px;
    margin-bottom: 200px;
}

nav {
    position: fixed;
    top: 0px;
    background-color: #052c65;
    opacity: 80%;
    z-index: 1000;
    width: 100%;
    /* animation: nav-animation 1s; */
}

.navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: bold;
    transition: transform 0.3s ease;
    animation: nav-a 3s ease;
}

@keyframes nav-animation {
    0% {
        height: 0px;
    }

    100% {
        height: 70px;
    }
}

.navbar-brand:hover {
    transform: scale(1.2);
    color: white;
}


.navbar-nav a {
    color: white;
    font-size: 15px;
    animation: nav-a 3s ease;
    border-radius: 10px;
}

@keyframes nav-a {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


.navbar-toggler {
    background-color: white;
    border-color: aliceblue;
    animation: nav-a 3s ease;
}

.bio {
    display: flex;
    justify-content: center;
    height: 550px;
}

.content1 {
    display: flex;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
}

.content1 p {
    text-align: justify;
    margin-top: 10px;
}

hr {
    height: 5px;
    background-color: white;
    border: none;
}

.logo {
    width: 40px;
}

.more-info {
    text-decoration: none;
}

.contact-img {
    width: 50px;
}

.footer {
    background-color: rgb(35, 33, 33);
}

.bor-footer {
    border-right: 2px solid white;
}

.footer-img {
    width: 40px;
}

.foto-profil {
    border-radius: 12px;
}